---
layout: default
---

{% include outdated.html post=page %}

<article data-clarity-region="article">
  {% if page.hidden %}
    <aside class="embargo">
      {% if page.hidden != true %}
        <h1>{{ page.hidden | date: "%a, %b %e, %Y %H:%M UTC" }} tarihine kadar ambargoludur!</h1>
        <p>Lütfen bu sayfaya ait bağlantıyı herhangi biriyle veya bir yerde paylaşmayınız. Aşağıdaki içerik, ambargo kaldırılmadan önce küçük değişikliklere tabi olabilir.</p>
      {% else %}
        <h1>Dipçe: Bu gönderi gizlidir!</h1>
        <p>Lütfen bu sayfaya ait bağlantıyı herhangi biriyle veya bir yerde paylaşmayınız. Aşağıdaki içerik tamamlanmamış, yanlış olabilir veya değişikliğe tabi olabilir.</p>
      {% endif %}
      <hr />
    </aside>
  {% endif %}
  <header>
    <h1>{% include title.html title=page.title %}</h1>
    {% if page.description %}
      <h2>{% include title.html title=page.description %}</h2>
    {% endif %}

    {% include byline.html author=page.author date=page.date content=page.content link=true %}
    {% include tags.html %}
  </header>

  <section>
    {{ content }}
  </section>
  

</article>

<!-- {% include license.html %} -->
{% include social.html %}

<div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  var __semio__params = {
    graphcommentId: "tolgaaltas", // make sure the id is yours

    behaviour: {
      // HIGHLY RECOMMENDED
      //  uid: "...", // uniq identifer for the comments thread on your page (ex: your page id)
    },

    // configure your variables here
    "sidePanel": {
      "width": 480,
      "button": {
        "background": "#f35b5b",
        "color": "#ffffff",
        "label": "Oku ve etkileş"
      },
      "visible": true,
      "bubble": true
    }
  }

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  function __semio__onload() {
    __semio__gc_sidePanel_graphlogin(__semio__params)
  }


  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_sidePanel_graphlogin.js?' + Date.now();
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
  

</script>

<hr />

{% include related.html %}
